.friend_list {
	width: 320px;

	margin: 15px auto;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
	border: solid 1px rgb(100 169 169);
}

.item {
	display: flex;
  align-items: center;
  margin: 20px;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  padding-left: 10px;
  border-radius: 3px;
}

 
.statusOnline,
.statusOffline {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin: 0 15px 0 15px;
}

.statusOffline {
    background-color: red;
}

.avatar {
    border-radius: 10px;
    margin: 10px;
}

.name {
    font-size: 24px;
  font-weight: 600;
}